node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.cursor/rules/best-practice.mdc
.cursor/rules/security.mdc
.env
security-checklist.cursorrules
README.md
client/.env.local
.env.local
.cursor/mcp.json
